doctype html
C
html.h-100 
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    title Examen de Medio Semestre - Desarrollo web 3
    // Bootstrap core CSS & JS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css' rel='stylesheet')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js')
    style.
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
      }
    // Custom styles for this template
    link(href='/stylesheets/cover.css' rel='stylesheet')

    body.d-flex.h-100.text-center.text-white.bg-dark
      // Desarrollo web 3 - Examen de medio semestre - 202510
      block content
